{% extends 'kanai_app/base_kanriindex.html' %}

{% block content1 %}

<style>

/*** h1 ***/
.to_do_h1 {padding: 20px 10px;font-size: 22px;font-weight: 500;margin: 0 0px 0 25px;}

</style>


<div class="content-wrapper">

<h1 class="to_do_h1">
カード詳細
</h1>

<div class="card">
  <div class="card-body">

<dl class="row">
  <dt class="col-sm-3">タイトル</dt>
  <dd class="col-sm-9">{{ card_detail_list.title }}</dd>
  <dt class="col-sm-3">詳細</dt>
  <dd class="col-sm-9">{{ card_detail_list.description }}</dd>
  <dt class="col-sm-3">リスト名</dt>
  <dd class="col-sm-9">{{ card_detail_list.list.title }}</dd>
  <dt class="col-sm-3">ユーザー名</dt>
  <dd class="col-sm-9">{{ card_detail_list.user.username }}</dd>
</dl>

</div>

<div class="row">
  <p>
        <a href="{% url "kanban:card_update" card_detail_list.pk %}" class="btn btn-info">
        更新
        </a>
    </p>

  <p>
        <a href="{% url "kanban:card_delete" card_detail_list.pk %}" class="btn btn-danger">
        削除
        </a>
    </p>
</div>
    

</div> <!-- END card -->


  <div class="text-center">
              <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary btn-sm" role="button">戻る</a>
              <a href="{% url 'kanai_app:kanri_top' %}" class="btn btn-primary btn-sm" role="button">管理画面トップへ戻る</a>
  </div>

</div> <!-- content-wrapper END -->


{% endblock %}