{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <title>title here</title>
</head>
<body style="background: teal"">
    <div class="container" style="padding: 2rem">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-12">
                <div class="card bg-light">
                    <div class="card-body mx-auto">
                        <form action="" method="post">
                            {{ form.non_field_errors }}
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                {{ form.username }}
                            </div>
                            {{ form.email.errors }}
        
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                {{ form.password }}
                            </div>
                            {{ form.password.error }}
                            {% csrf_token %}
                            <div class="form-group">
                                <button type="submit" name="btn" value="Login" class="btn btn-primary btn-block">管理画面へログイン</button>
                            </div>                                                               
                        </form>

                        <p><a a href="{% url 'kanai_app:sign_up' %}" >アカウント作成する</a></p>
                    </div> <!-- card body -->
                </div> <!-- card  -->
            </div>
        </div>
    </div>
</body>
</html>

